div{
    width: 100px;
    height: 100px;
    padding: 10px;
    border: solid 10px green;
}

.com-border-box{
    background-color: aquamarine;
    box-sizing: border-box;
}

.sem-border-box{
    background-color: brown;
}

/* largura + padding da direita + padding da esquerda + border da direita + border da esquerda = largura total do elemento

100 + 10 + 10 + 10 + 10 = 140
*/

/* altura + padding de cima + padding de baixo + border de cima + border de baixo = altura total do elemento

100 + 10 + 10 + 10 + 10 = 140
*/